<button><%= link_to "Home", root_url %></button>

<h1><%= @location.name %></h1>

<h3>Location Review:</h3>
<p><%= @location.review %></p>

<img src="<%= @location.picture_url %>" height=300px width=400px>
